<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DistributedSignature" version="4.0.7776.15074" targetFramework="net46" />
  <package id="ILMerge" version="3.0.41" targetFramework="net46" />
  <package id="IvWebRequest" version="1.1.0.1" targetFramework="net46" />
  <package id="Logger" version="2.4.7803.24239" targetFramework="net46" />
  <package id="ProcessorsUtilities" version="2.7.0.5" targetFramework="net46" />
</packages>